{% load render_table from django_tables2 %}
{% load static %}


<html>
<head>
  <title>CGRAN</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'ootlist/style.css' %}" />
</head>

<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href=".">CGRAN</a></li>
      <li><a target="_blank" href="http://gnuradio.org/">GNU Radio</a></li>
      <li><a target="_blank" href="http://libvolk.org/">VOLK</a></li>
      <li><a target="_blank" href="https://github.com/gnuradio/pybombs">PyBOMBS</a></li>
      <li><a href="{% url 'ootlist:submit' %}">Submit your OOT</a></li>
    </ul>
  </div>
</nav>


<div class="row" style="padding: 20px 20px 20px 20px;">
 
  <div class="col-sm-4" align="center"> <!-- remember, numbers should add to 12 -->
    <img src="{% static 'ootlist/images/cgran_logo_v2.png' %}" class="img-responsive">
  </div>
  
  <div class="col-md-8" align="center"> 
    <h3 style="color: #fd6b5c">The Comprehensive GNU Radio Archive Network</h3>
    <h4 style="padding-top: 30px; color: #757575">
    The Comprehensive GNU Radio Archive Network (CGRAN) is a free open source
    repository for 3rd party GNU Radio applications (a.k.a Out Of Tree Modules)
    that are not officially supported by the GNU Radio project.
    </h4>
  </div>
  
</div> 
  

<hr>

<div class="container" align="center">  
  <div align="left">  
    <form action="." method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Search" />
    </form>
  </div>
  {% render_table table %}
</div>

</body>

{% include 'ootlist/footer.html' %}

</html>


